@import "tailwindcss";

@theme {
  --color-primary: #5b705c;
  --color-primary-dark: #4b5d4c;
  --color-background: #fafaf9;
  --color-foreground: #292524;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-tap-highlight-color: transparent;
}
